<h1> Pament Information </h1>


<p> A <%= @term %> year loan of <%= number_to_currency(@loan) %>, with an annual interest rate of <%=@norm_rate%>%, requires a monthly payment of <%= number_to_currency(@payment)%>. </p>

